In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
file_name="Resources/clean_2019.csv"
clean_2019=pd.read_csv(file_name)
# clean_2019.drop("Unnamed:0")
clean_2019.head()

,Unnamed: 0,overall_rank,country,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_choice,generosity,perceptions_of_corruption,happy_nothappy
0,0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,happy
1,1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,happy
2,2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,happy
3,3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,happy
4,4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,happy

In [4]:
clean_2019.drop(["Unnamed: 0"], axis=1)

,overall_rank,country,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_choice,generosity,perceptions_of_corruption,happy_nothappy
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,happy
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,happy
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,happy
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,happy
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,happy
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,not_happy
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,not_happy
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,not_happy
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,not_happy
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,not_happy

In [9]:
# Assign X (data) and y (target)
X = clean_2019.drop(["happy_nothappy","country"], axis=1)
y = clean_2019["happy_nothappy"]
print(X.shape, y.shape)

(156, 9) (156,)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [12]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 1.0
Testing Data Score: 1.0

In [14]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['not_happy' 'happy' 'happy' 'happy' 'happy' 'happy' 'happy' 'not_happy'
 'happy' 'not_happy']
First 10 Actual labels: ['not_happy', 'happy', 'happy', 'happy', 'happy', 'happy', 'happy', 'not_happy', 'happy', 'not_happy']

In [15]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

   Prediction     Actual
0   not_happy  not_happy
1       happy      happy
2       happy      happy
3       happy      happy
4       happy      happy
5       happy      happy
6       happy      happy
7   not_happy  not_happy
8       happy      happy
9   not_happy  not_happy
10  not_happy  not_happy
11  not_happy  not_happy
12  not_happy  not_happy
13  not_happy  not_happy
14  not_happy  not_happy
15      happy      happy
16  not_happy  not_happy
17      happy      happy
18      happy      happy
19      happy      happy
20      happy      happy
21  not_happy  not_happy
22  not_happy  not_happy
23  not_happy  not_happy
24  not_happy  not_happy
25      happy      happy
26  not_happy  not_happy
27      happy      happy
28  not_happy  not_happy
29      happy      happy
30  not_happy  not_happy
31  not_happy  not_happy
32      happy      happy
33      happy      happy
34  not_happy  not_happy
35      happy      happy
36  not_happy  not_happy
37  not_happy  not_happy
38  not_happy  not_happy